<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Home Page!</h1>
    <form action="/product/add" method="post">
        <label for="title"> TITLE </label><br>
        <input type="text" name="title" id="title"><br>
        <label for="price"> PRICE </label><br>
        <input type="text" name="price" id="price"><br>
        <label for="dateInp"> DOM </label><br>
        <input type="date" name="dateInp" id="dateInp"><br>
        <button type="submit">SAVE</button>
    </form>
</body>
</html>
